html,
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

header {
    border: black solid thin;
    padding: 30px;
    /* margin: 30px; */
    background-color: darkblue;
}

main {
    margin: 0 auto;
    padding: 0 10%;
    max-width: 1600px;
}

h1 {
    color: yellow;
    margin: 0;
    font-size: clamp(32px, 3vw, 3.5vw);
    font-weight: 700;
}

h2 {
    font-size: 1.75vw;
}

h3 {
    font-size: 1.25vw;
}

h2,
h3 {
    color: darkgreen;
    margin: .5em 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    margin: .75em 0;
    padding: 0;
}

footer {
    background-color: darkslategray;
    padding: 10px 0 20px;
    text-align: center;

    address {
        color: cornsilk;
    }

    li {
        list-style-type: none;
    }

    a:visited {
        color: cornsilk;
    }

    a:link {
        color: yellow;
    }

    /* visited link */
    a:hover {
        color: cornsilk;
        text-decoration: none;
    }

    /* mouse over link */
    a:active {
        color: red;
    }

    /* selected link */

}

.foot-head {
    color: cornsilk;
}

a:link {
    color: blue;
}

/* unvisited link */
a:visited {
    color: darkslategray;
}

/* visited link */
a:hover {
    color: darkgreen;
    text-decoration: none;
}

/* mouse over link */
a:active {
    color: yellow;
}

/* blog images */
.blog-image {
    width: 20%;
    min-width: 200px;
}

.contact {
    width: 70%;
    margin: 0 auto 20px;
}

fieldset {
    margin: 0 0 50px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table caption {
    font-weight: 800;
    font-size: 1.5rem;
}

th,
td {
    text-align: left;
    padding: 8px;
}

tr {
    border-bottom: thin solid black;
}

thead tr {
    background-color: darkblue;
    color: yellow;
}

tbody tr:nth-child(even) {
    background-color: cornsilk;
}

tbody tr:hover {
    background-color: darkslategray;
    color: cornsilk;
}